* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #1171c4;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #e3dfdf;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #f90202;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: #cda2a2;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex: 1;
  padding-right: 10px;
}

.delete-btn,
.edit-btn {
  background-color: #ff4747;
  color: white;
  border: lightgreen;
  border-radius: 70%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  margin-left: 6px;
}

.edit-btn {
  background-color: #ba882c;
}

.delete-btn:hover,
.edit-btn:hover {
  background-color: #cf0f0f;
}

button:focus {
  outline: none;
}
